<div class="form-card">
  <h3>Персональная информация</h3>
  <form>
    <table>
      <tr>
        <td>ФИО<span class="required-symbol">*</span>:</td>
        <td><input class="text-input" (input)="formModel.fullName = getValue($event)"></td>
        <td class="error-text" id="fullname-error" *ngIf="getFullNameError()">{{getFullNameError()}}</td>
      </tr>
      <tr>
        <td>Адрес:</td>
        <td><input class="text-input" (input)="formModel.fullName = getValue($event)"></td>
        
      </tr>
      <tr>
        <td>Город:</td>
        <td><input class="text-input" (input)="formModel.fullName = getValue($event)"></td>
        
      </tr>
      <tr>
        <td>Почтовый индекс:  </td>
        <td><input class="text-input" (input)="formModel.ISQNumber = getValue($event)"></td>
        
      </tr>

       <tr>
        <td>Телефон: <span class="required-symbol">*</span>:</td>
        <td><input class="text-input" (input)="formModel.ISQNumber = getValue($event)"></td>
        <td class="error-text" id="icq-error" *ngIf="getPhoneError()">{{getPhoneError()}}</td>
      </tr> 
      <tr>
        <td>Дополнительная информация:</td>
        <td><input class="text-input" (input)="formModel.fullName = getValue($event)"></td>
        
      </tr>
      <tr>
        <td>Email:<span class="required-symbol">*</span>:</td>
        <td><input class="text-input" (input)="formModel.email = getValue($event)"></td>
        <td class="error-text" id="email-error" *ngIf="getEmailError()">{{getEmailError()}}</td>
      </tr>
      
      <tr>
        <td>Пароль: <span class="required-symbol">*</span>:</td>
        <td><input class="text-input" type="password" (input)="formModel.password = getValue($event)"></td>
        <td class="error-text" id="password-error" *ngIf="getPasswordError()">{{getPasswordError()}}</td>
      </tr>
      <tr>
        <td>Повторите пароль: <span class="required-symbol">*</span>:</td>
        <td><input class="text-input" type="password" (input)="formModel.repeatedPassword = getValue($event)"></td>
        <td class="error-text" id="repeat-password-error"
            *ngIf="formModel.passwordIsNotEmpty() && getRepeatedPasswordError()">{{getRepeatedPasswordError()}}</td>
      </tr>
      
      <input type="checkbox" >Я хочу получать новости и спецпредложения<Br>
      
     
    </table>
    <button class="submit-button" id="submit-button" [disabled]="!formModel.validate()" (click)="handleSubmit()">Продолжить</button>
  </form>
</div>
